* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: flex;

    &#title {
        background-color: yellow;
        font-size: 18px;
    }

    span {
        padding: 10px 10px;
        border: 1px solid blue;
        text-transform: uppercase;
        font-size: 13px;

        &.light {
            min-width: 120px;
        }

        &.large {
            min-width: 200px;
        }
    }
}
