* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
}

div#title {
  background-color: yellow;
  font-size: 18px;
}

div span {
  padding: 10px 10px;
  border: 1px solid blue;
  text-transform: uppercase;
  font-size: 13px;
}

div span.light {
  min-width: 120px;
}

div span.large {
  min-width: 200px;
}

